[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dependencies/LuaBridge3"]
	path = dependencies/LuaBridge3
	url = https://github.com/kunitoki/LuaBridge3.git
[submodule "dependencies/luau"]
	path = dependencies/luau
	url = https://github.com/luau-lang/luau.git
[submodule "dependencies/FUELDecompilation"]
	path = dependencies/FUELDecompilation
	url = https://github.com/widberg/FUELDecompilation.git
