[submodule "dependencies/sol2"]
	path = dependencies/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dependencies/detours/Detours"]
	path = dependencies/detours/Detours
	url = https://github.com/microsoft/Detours.git
[submodule "dependencies/luajit/LuaJIT"]
	path = dependencies/luajit/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "dependencies/tomlplusplus"]
	path = dependencies/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "dependencies/usercall.hpp"]
	path = dependencies/usercall.hpp
	url = https://github.com/widberg/usercall.hpp.git
[submodule "dependencies/hashlibpp"]
	path = dependencies/hashlibpp
	url = https://github.com/pkcakeout/hashlibpp.git
[submodule "dependencies/CLI11"]
	path = dependencies/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "dependencies/winflexbison"]
	path = dependencies/winflexbison
	url = https://github.com/lexxmark/winflexbison.git
[submodule "dependencies/re2c"]
	path = dependencies/re2c
	url = https://github.com/skvadrik/re2c.git
