[submodule "dependencies/sol2"]
	path = dependencies/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dependencies/detours/Detours"]
	path = dependencies/detours/Detours
	url = https://github.com/microsoft/Detours.git
[submodule "dependencies/luajit/LuaJIT"]
	path = dependencies/luajit/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "dependencies/tomlplusplus"]
	path = dependencies/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
