.pre {
    color: #1e5696;
}

.wy-side-nav-search input[type="text"] {
    border-color: transparent;
}

.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
    width: 200px;
}

.wy-nav-content {
    max-width: none;
}
